docs/Work&ExerciseBook PROG P1 KSS 8 Presentation V4.1.1 es.pdf
docs/HandBook PROG P1 KSS 8 V4.1.1 es (1).pdf
data/dataset_raw/
data/
# Dependencias
node_modules/

# Build
dist/

# Entorno (contiene contraseñas/IPs reales)
.env

# Sistema
.DS_Store
*.log
